DISCORD_NOTIFICATIONS_WEBHOOK=''
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''
GRAFANA_ADMIN_PASSWORD=''
HASURA_GRAPHQL_ADMIN_SECRET='nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET=''
MAILJET_APIKEY_PRIVATE=''
MAILJET_APIKEY_PUBLIC=''
NHOST_WEBHOOK_SECRET='nhost-webhook-secret'
SMTP_PASSWORD=''
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''
UPSTASH_REDIS_URL=''
UPSTASH_REDIS_TOKEN=''
