STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

MAILJET_APIKEY_PRIVATE=
MAILJET_APIKEY_PUBLIC=

DISCORD_NOTIFICATIONS_WEBHOOK=

HASURA_GRAPHQL_ADMIN_SECRET=
NHOST_WEBHOOK_SECRET=
HASURA_GRAPHQL_JWT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

SMTP_PASSWORD=

GRAFANA_ADMIN_PASSWORD=
